* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: url('/template/imgs/imggs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

span {
    color: blue;
}

header h1 {
    padding: 20px;
}

nav {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    width: 900px;
}

a {
    padding: 30px;
    text-decoration: none;
}

nav a:hover {
    color: violet;
}

main {
    flex: 1;
    text-align: center;
    padding: 266px;
    color: black;
    
}

main h1 {
    font-size: 90px;
    margin-top: 50px;
}

main h2 {
    font-size: 30px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    grid-row: 3;
    
}

footer div {
    display: flex;
    gap: 20px; 
}

footer img {
    margin: 0;
    
}

footer img:hover{
    background-color: violet;
    border-radius: 100%;
}

.curso {
   
}

.curso h1{
    
   
    text-align: center;
    padding: 10px; 
}

.experiencias{
    
}

@media (min-width: 380px) and (max-width: 600px) {

    body{
        overflow:scroll;
    }
    header {
        flex-direction: column;
        align-items: center;
    }

    header h1{
        font-size: 25px;
    }

    nav {
        font-size: 10px;
    }

    a {
        padding: 15px;
    }

    main {
       
        padding: 50px 20px
    }

    ;

    main h1 {
        
        font-size: 40px
    }

    

    main h2 {
        font-size: 20px;
    }

    footer {

        margin-top: -35px;

    }

    footer div {

        gap: 10px;
    }
}


@media (min-width: 601px) and (max-width: 1024px) {

    body{
        overflow:scroll;
    }

    nav {
        font-size: 20px;
    }

    main {
        padding: 300px 20px;
    }

    main h1 {
        font-size: 60px;
    }

    main h2 {
        font-size: 25px;
    }
}