    body,
    html,
    header {
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: "Special Elite", system-ui;
        min-width: 100vh;



    }

    html {
        height: 100%;
    }

    .main {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        flex-grow: 1;
        left: 4rem;
    }

    #corpo {
        background-image: url('/template/template/imgs/o_código_da_vinci.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;

    }



    h1 {
        color: black;
    }

    img {
        width: 60px;
        height: 60px;
    }

    .cont-superior {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin: 10px;

    }

    .cont-superior h1 {}

    p {
        text-align: center;
        padding: 10px;

    }

    h2 {
        text-align: center;
    }

    .aa {

        justify-content: center;
        flex-direction: column;
        display: flex;
        background-color: green;
        border-radius: 20px;
        width: 60px;
        height: 50px;
        padding: 8px;
        margin: auto;

    }

    .aa a {
        text-align: center;
    }